.borde{
    text-align: center;
    border:white 3px solid;
    overflow: auto;
    margin: 13px 13px 13px 50px;
    font-size: 20;
    font-style: italic;
    color:white;
  }
.izquierda{
      float: left;
      width: 244px; height: 240px;
  }
.bordeCentral{
    text-align: center;
    border: black 3px solid;
    overflow: auto;
    background:blueviolet;
    margin: 10px 250px 10px 250px; 
}
.fondo{
    background:darkslateblue;
}
.backgroundTitular{
    background: mediumslateblue;
}
.backgroundLista{
    text-align: left;
    background: rgb(68,38,109);
}
.letras-div{
    display: inline-block;
    text-decoration: none;
    padding: 14px 35px;
    font-family: arial;
}
.anim:hover{
    transition: 1s;
    background:blueviolet;
}
a:link{
    text-decoration-line: none;
    color: white;
} 
a:visited{
    text-decoration-line:none;
    color: white;
} 
a:active {
    text-decoration-line:none;
    color: white;
}
.nombres{
    text-align: left;
}
.sanderson{
    float: left;
    width: 110px;
    height: 110px;
}
.logoInstagram{
    float: left;
    width: 40px;
    height: 40px;
}